:root {
    --grid-size: 480px;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0px; 
}

#container {
    display: flex;
    flex-direction: column;
    height: var(--grid-size);
    width: var(--grid-size);
    border: 2px solid black;
}

.row {
    display: flex;
    flex-grow: 1;
}

.square {
    flex-grow: 1;
}

button {
    margin: 5px;
    width: 125px;
}